  @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&family=Raleway:wght@100;200;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
}

/*custom properties*/
:root {
    --primary-color: #F5ECFF;
    --secondary-color: #EDDDFF;
    --dark: #2A2121;
    --main-margin: 2.5rem;
    --section-margin: 1rem;
}
body {
    background: var(--primary-color);
    color: var(--dark);
    text-align: center;
}
header  {
    text-transform: uppercase;
    padding: 2rem;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    background: var(--secondary-color);
    padding: 8rem;
}

.display-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.username {
    text-transform: uppercase;
    margin-top: var(--section-margin);
}

.track {
    padding: .5rem;
    border: 1px solid #2A2121;
    border-radius: 1rem;
    text-transform: uppercase;
    margin-top: var(--section-margin);
    font-weight: 500;
}
.date {
    margin-top: var(--main-margin);
    text-transform: uppercase;
    color: rgba(42, 33, 33, 0.8);
    font-weight: 500;
}
.github-repo {
    margin-top: var(--main-margin);
    background: var(--dark);
    border: none;
    padding: 1rem;
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 500;
}